.banner-section{
    max-width: 1140px;
    margin: 50px auto 20px;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}
.banner-content{
    text-align: center;
    padding: 100px 150px;
}
.banner-intro{
color: #FFF;
font-family: Merriweather;
font-size: 32px;
font-weight: 400;
}
.banner-title{
color: #FFF;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px;
}